# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env

# FastAPI cache
videos/
uploads/

# VSCode
.vscode/

# System
.DS_Store
Thumbs.db

# Node (if you build a frontend)
node_modules/
dist/
build/